body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    margin: 10;
    background-color: #f0f0f0;
    text-align: center;
}


.content {
    background-color: #dddddd;
    padding: 60px;
    padding-top: 20px;
    padding-bottom: 40px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 400px;
    text-align: center;
}

.content textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    resize: none;
}

.file-input {
    display: none;
    margin-bottom:50px;
}

.file-label {
    display: inline-block;
    background-color: #aaa4a4;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 50px;
}

.post-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.filetext {
    padding: 5%;
}

.post-button:hover {
    background-color: #342394; 
}

.header > .nav {
    list-style-type: none;
    padding: 0;
}

.box + textarea {
    border: 2px solid #ccc;
}

.filetext ~ .file-label {
    font-weight: bold;
}

@media (max-width: 600px) {
    .content {
        padding: 20px; /* Adjust the padding as needed */
        max-width: 100%; /* Make sure it doesn't exceed the viewport */
        text-align: left; /* Align text to the left on mobile */
    }

    .content textarea {
        height: 60px; /* Adjust the height as needed */
        font-size: 16px; /* Adjust the font size as needed */
    }

    .file-label, .file-input, .post-button {
        font-size: 14px; /* Adjust the font size as needed */
    }
}