.container {
    display: flex;
    padding: 20px;
    align-items: flex-start; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    min-height: 100vh; /* Ensure the container takes up at least the viewport height */
}
.box{
    display: flex;
    flex-direction: column;
    background-color: #dddddd;
    border-radius: 10px; 
    padding: 60px; 
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    width: 400px;

}



div p {
    margin: 4px;
}

#welcome {
    font-size: larger;    
}

.form-group{
    margin: 5px;
}

p > a{
    text-decoration: none;
    color: #007bff;
}

form + p {
    font-size: smaller;
}

form ~ p {
    font-weight: bolder;
}

a:hover{
    color: #0062cb;
    font-weight: bold;
}




.button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.a{
    margin: 10px;
}

@media screen and (max-width: 768px) {
    .box {
        display: flex;
        background-color: #dddddd;
        border-radius: 10px; 
        text-align: center;
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        margin: auto;
        margin-top: 0;
        width: 80%;

    }
}
