@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,300&display=swap');
* {
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
    }

.header {
    position: sticky;
    background-color: #999; 
    border-radius: 10px; 
    border: 10px;
    padding: 20px;
    text-align: left;
    display: flex; /* Use flexbox to keep everything on one line */
    justify-content: space-between; /* Space items horizontally */
    align-items: center; /* Center items vertically */
    }

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    }

.logo {
    margin: 0;
    font-size: 1em;
      }

.nav {
    margin-top: 5px;
    list-style: none;
    padding: 0;
    display: flex; /* Use flexbox to align items horizontally */
    gap: 10px; /* Add spacing between items */
    }

.nav a {
    padding: 10px;
    text-align: left;
    text-decoration: none;
    display: block;
    color: #000000;
    font-size: 1.4em;
    font-weight: bold;
    }

.nav a:hover {
    border-radius: 20px;
    background: radial-gradient(#e18282, #999);
}

.separator {
    font-size: 1.4em; /* Set the font size the same as the header */
    color: #000000;
    padding: 10px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-self: space-between;
    padding-top: 9px;
    padding-bottom: 9px;
}

.left-sidebar {
    width: 7%; 
    background-color: #999;
    border-radius: 10px; 
    padding: 20px;
}

.right-sidebar {
    width: 7%; 
    border-radius: 10px; 
    background-color: #999;
    padding: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff; /* Example background color for the main content */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;
    width: 89%;
    
}

.post {
    background-color: rgb(201, 201, 201); /* Example background color for the main content */
    border-radius: 20px; 
    width: 35%;
    padding: 20px;
    margin-bottom: 30px;
}

.post_header {
    display: flex; /* Use flexbox to keep everything on one line */
    justify-content: space-between; /* Space items horizontally */
    align-items: center; /* Center items vertically */
    margin-bottom: 5px;
}

.post_logo {
    align-items: left;
    width: 28px;
    height: 28px;
}

.post_image {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin: 5px;
}

.post_text {
    font-size: 16px;
}

.post_date {
    font-size: 12px;
}

.footer {
    background-color: #999; 
    border-radius: 10px; 
    padding: 20px;
    text-align: center;
    align-items: center;
}

.footer a {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    color: #000000;
    font-size: 1.4em;
    font-weight: bold;
    }


