@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,300&display=swap');
* {
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
    }

.header {
    position: sticky;
    background-color: #999; 
    border-radius: 10px; 
    padding: 20px;
    text-align: left;
    display: flex; /* Use flexbox to keep everything on one line */
    justify-content: space-between; /* Space items horizontally */
    align-items: center; /* Center items vertically */
    }

ul {
    margin: 0;
    padding: 0;
    list-style: none;
     /* 
       list-style: none = No marker is shown 
     */
    }

.logo {
    margin: 0;
    font-size: 1em;
      }

.nav {
    margin-top: 5px;
    list-style: none;
    padding: 0;
    display: flex; /* Use flexbox to align items horizontally */
    gap: 10px; /* Add spacing between items */
    }

.nav a {
    padding: 10px;
    text-align: left;
    text-decoration: none;
    display: block;
    color: #000000;
    font-size: 1.4em;
    font-weight: bold;
    }

.separator {
    font-size: 1.4em; /* Set the font size the same as the header */
    color: #000000;
    padding: 10px;
}

/* Apply styles to the wrapper div */
.wrapper {
    display: flex;
    padding-top: 9px;
    padding-bottom: 9px;
}

/* Apply styles to the left sidebar */
.left-sidebar {
    width: 110px; /* Adjust the width as needed */
    background-color: #999;
    border-radius: 10px; 
    color: white;
    padding: 20px;
}

/* Apply styles to the main content */
.content {
    flex: 1;
    background-color: #fff; /* Example background color for the main content */
    padding: 20px;
}

/* Apply styles to the right sidebar */
.right-sidebar {
    width: 110px; /* Adjust the width as needed */
    border-radius: 10px; 
    background-color: #999;
    padding: 20px;
}

.footer {
    background-color: #999; 
    border-radius: 10px; 
    padding: 20px;
    text-align: center;
    align-items: center;
}

.footer a {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    color: #000000;
    font-size: 1.4em;
    font-weight: bold;
    }


